.hall-session-row {
    display: table-row;
}

.hall-session-seat {
    width: 30px;
    display: table-cell;
}

.hall-session-table {
    display: table;
}

.hall-session-row-wrap {
    overflow: scroll;
    width: 100%;
}