{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <ul>
    {% for cinema in cinemas %}
        <li><a href="{{ path('select_date', {'slug': cinema.slug})}}">{{ cinema.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
